<tr>
  <td width="180"><%= post.title %></td>
  <td><%= truncate(post.body, :length => 150) %></td>
  <td width="150"><%= post.user.name %></td>
  <td><%= link_to 'Show', post %></td>
  <td><%= link_to 'Edit', edit_post_path(post) %></td>
  <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
