<h1>Posts</h1>

<table class="table table-hover">
  <thead>
    <tr class="active">
      <th><%= t('title') %></th>
      <th><%= t('body') %></th>
      <th><%= t('author') %></th>
      <th colspan="3">
        <% if user_signed_in? %>
        <%= link_to 'New Post', new_post_path, :class => 'btn btn-default' %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% cache "posts" do %>
      <%= render @posts, cached: true %>
    <% end %>
  </tbody>
</table>
